<div id="content" class="container container-min-height">

  <%#= render partial: "invoice_details.html.erb" %><hr>
  <%= render partial: "to_and_from_address.html.erb" %>
  <%= render partial: "invoice_table.html.erb" %>
</div>